[submodule "openssl"]
	path = modules/openssl
	url = https://github.com/openssl/openssl
	branch = master
	shallow = true
	ignore = dirty
[submodule "ngx_brotli"]
	path = modules/ngx_brotli
	url = https://github.com/google/ngx_brotli
	branch = master
	shallow = true
	ignore = dirty
[submodule "modules/zlib"]
	path = modules/zlib
	url = https://github.com/jtkukunas/zlib
	branch = master
	shallow = true
	ignore = dirty
[submodule "pcre"]
	path = modules/pcre
	url = https://github.com/SDSkyKlouD/pcre-old
	branch = master
	shallow = true
	ignore = dirty