Source: nginx
Section: httpd
Priority: optional
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Uploaders: somni <me@somni.one>
Build-Depends: debhelper (>= 10),
               dpkg-dev (>= 1.15.5),
               libexpat-dev,
               libgd-dev,
               libgeoip-dev,
               libhiredis-dev (>= 0.13),
               libmaxminddb-dev,
               libmhash-dev,
               libpam0g-dev,
               libperl-dev,
               libssl-dev,
               libxslt1-dev,
               po-debconf,
               quilt
Standards-Version: 4.6.0
Homepage: https://nginx.net
Vcs-Git: https://github.com/somnisomni/somnium.git
Vcs-Browser: https://github.com/somnisomni/somnium
Rules-Requires-Root: no

Package: nginx
Architecture: all
Depends: nginx-somnium (<< ${source:Version}.1~),
         nginx-somnium (>= ${source:Version}),
         ${misc:Depends}
Description: small, powerful, scalable web/proxy server
 Nginx ("engine X") is a high-performance web and reverse proxy server
 created by Igor Sysoev. It can be used both as a standalone web server
 and as a proxy to reduce the load on back-end HTTP or mail servers.
 .
 This is a dependency package to install nginx-somnium.

Package: nginx-common
Architecture: all
Multi-Arch: foreign
Depends: lsb-base (>= 3.0-6), ${misc:Depends}
Suggests: fcgiwrap, ssl-cert
Description: small, powerful, scalable web/proxy server - common files
 Nginx ("engine X") is a high-performance web and reverse proxy server
 created by Igor Sysoev. It can be used both as a standalone web server
 and as a proxy to reduce the load on back-end HTTP or mail servers.
 .
 This package contains base configuration files used by all versions of
 nginx.

Package: nginx-somnium
Architecture: any
Depends: nginx-common (= ${source:Version}),
         iproute2,
         ${misc:Depends},
         ${shlibs:Depends}
Breaks: nginx (<< 1.4.5-1)
Provides: httpd, httpd-cgi, nginx
Conflicts: nginx-extras, nginx-light, nginx-core, nginx-full
Description: somnium(nginx) web/proxy server (standard version)
 This package provides a version of somnium, which is rebranded and customized NGINX
 for somni servers.
 .
 Nginx ("engine X") is a high-performance web and reverse proxy server
 created by Igor Sysoev. It can be used both as a standalone web server
 and as a proxy to reduce the load on back-end HTTP or mail servers.
